slurmqueue="common,dedicated"
slurmqos="--qos=fast"

// Preform work directory cleanup after a successful run
//cleanup = true

env {
    NXF_OPTS='-Dnxf.pool.type=sync'
}

executor {
    name = 'slurm'
    queueSize = 2000
}

report {
       enabled = true
       file = 'reports/report.html'
}

trace {
    enabled = true
    file = 'reports/trace.txt'
}

timeline {
    enabled = true
    file = 'reports/timeline.html'
}

dag {
    enabled = true
    file = 'reports/dag.dot'
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '--home $HOME:/home/$USER --bind /pasteur'
    cacheDir = 'singularity'
}

process {
    executor='slurm'
    queue = "$slurmqueue"
    clusterOptions = "$slurmqos"
    scratch=false
    maxRetries=30
    errorStrategy='retry'

    withName: 'splitFasta' {
    	cpus=10
	memory='10G'
    }

    withLabel: 'bamreadcount' {
        container='mgibio/bam-readcount:1.0.0'
	    memory='20G'
    }

    withLabel: 'python' {
        container='evolbioinfo/python-evol:v3.8.2b'
	    memory='20G'
    }

    withLabel: bwa {
        container="evolbioinfo/bwa:v0.7.17"
    	cpus=10
        memory={task.attempt>3 ? '20G' : '10G' }
    }
    
    withLabel: bwaindex {
        container="evolbioinfo/bwa:v0.7.17"
	    cpus=1
        memory='30G'
    }
    withLabel: dsrc {
    	container="evolbioinfo/dsrc:v2.0.2"
	    cpus=3
	    memory='5G'
    }
    withLabel: trimgalore {
    	container='evolbioinfo/trimgalore:v0.6.6'
    	cpus=10
        memory='5G'
    }

    withLabel: nextcladeref {
    	container='nextstrain/nextclade:1.11.0'
    	cpus=1
        memory='1G'
        executor='local'
    }
    withLabel: nextclade {
    	container='nextstrain/nextclade:1.11.0'
    	cpus=5
        memory='5G'
    }

    withLabel: r {
    	container='evolbioinfo/r-extended:v4.0.2'
    	cpus=1
        memory='5G'
    }

    withLabel: nextalign{
    	container='nextstrain/nextalign:1.11.0'
    	cpus=5
        memory='5G'
    }
}

profiles {
  debug {
    cleanup = false
  }
  local {
    executor='local'
  }
}
